.checkout-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.checkout-popup-content {
    background: #EEF2F8;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    width: 500px;
    height: auto;
    text-align: center;
    z-index: 1000;
}

.checkout-popup-content button {
    margin-top: 10px;
}
.checkout-popup-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.range-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.checkout-popup-content input[type="range"] {
    width: 30%;
}
.checkout-label {
    display: flex;
    align-items: center;
    width: 100%;
}
.checkout-label label {
    width: 50%;
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
}
.checkout-label p {
    display: inline-block;
    width: 50%;
    text-align: left;
    margin: 0;
}
.checkout-popup-content input[type="number"] {
    width: 15%;
    
}
.checkout-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}
.checkout-header h1 {
    margin: 0;
    font-size: 24px;
}
.checkout-header button {
    position: absolute;
    right: 0;
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.confirm-order-button {
    width: 30%;
    margin: 0 35%; /* 100 - 30 / 2 */
    align-items: center;
    background-color: #31cf5b;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.confirm-order-error, .affected-items {
    color: red;
    margin: 0;
}
.special-request-container textarea {
    width: 70%;
    height: 50px;
    resize: none;
    font-family: inherit;
}