/* src/css/InventoryReport.css */
.inventory-report {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
.inventory-report  form {
    margin-bottom: 20px;
  }
  
.inventory-report  label {
    display: block;
    margin-bottom: 10px;
  }
  
.inventory-report  select, input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
.inventory-report  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
.inventory-report  button:hover {
    background-color: #45a049;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
.inventory-report  table {
    width: 100%;
    border-collapse: collapse;
  }
  
.inventory-report  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
.inventory-report  th {
    background-color: #4CAF50;
    color: white;
  }