.header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background-color: #003366;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    text-decoration: none;
}
.logo {
    font-size: 32px;
    color: white;
    font-weight: 700;
    white-space: nowrap;
}
.navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
}
.navbar-pages{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.navbar-pages a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 40px;
}
.employee-name, .customer-name, .finance-tab {
    font-size: 18px;
    color: white;
    font-weight: 500;
}
.user-dropdown, .finance-dropdown{
    position: relative;
    display: inline-block;
    margin-left: 40px;
    cursor: pointer;
}
.user-dropdown-content, .finance-dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: auto;
    white-space: nowrap;
}
.user-dropdown-content a, .finance-dropdown-content a {
    color: black;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.user-dropdown-content a:hover, .finance-dropdown-content a:hover {
    background-color: #ddd;
}
.user-dropdown:hover .user-dropdown-content, .finance-dropdown:hover .finance-dropdown-content {
    display: block;
}