.products {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
.menu_items_table {
    width: 100%;
    border-collapse: collapse;
    border: centered;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.menu_items_table thead tr {
    background-color: #808080;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    min-width: 400px;
}
.item_info th {
    height: 50px;
    background-color: #808080;
}
.items_table td {
    padding: 12px 15px;
}
.item_info tbody tr {
    border-bottom: 1px solid #ffffff
}
.item_info tbody tr:last-of-type {
    border-bottom: 2x solid #808080
}
.status {
    padding: .4rem 0;
    border-radius: 2rem;
}
.status {
    padding: .4rem 0;
    border-radius: 2rem;
}
.status.isActive {
    background-color: #86e49d;
    color: #006b21;
}
.status.notActive {
    background-color: #d893a3;
    color: #b30021;
}
body.active-modal {
    overflow-y: hidden;
}
.btn-modal {
    padding: 10px 20px;
    float: right;
    border-radius: 4px;
    font-size: 18px;
    margin-bottom: 3px;
    background-color: #808080;
}
.btn-modal:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.add-menu-item {
    margin-top: 10px;
}