.app-header {
  display: flex;
  align-items: center;
  padding: 30px;
  color: black;
  text-align: center;
  width: 100%;
}

.app-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
}

.EmpOrderTable {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.EmpOrder {
  font-size: 1.5em;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead tr {
  background-color: #4CAF50;
  color: #fff;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

td {
  color: #555;
}

/* Filters Styling */
.filters {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 20px 0;
  justify-content: center;
}

.filters input[type="text"] {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9em;
}

.filters input[type="text"]:focus {
  border-color: #4CAF50;
  outline: none;
}

.clear-filters-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-filters-button:hover {
  background-color: #0056b3;
}

/* Pagination Styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: rgb(76, 175, 80);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1em;
  color: #333;
}

/* Report Container */
.report-container {
  text-align: center;
  margin-top: 10px;
}

.section-heading {
  font-size: 1.5em;
  margin: 20px 0;
  color: #333;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.report-button, .submit2-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.report-button:hover, .submit2-button:hover {
  background-color: #45a049;
}
.report-container .employee-data {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report-container h2 {
  font-size: 1.5em;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}